@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');


.options-container {
  // background-color: peachpuff;
  height: 20rem;
  width: 100%;
  background-color: white;
  margin: 2rem;
  // background-image: url('./images/colouredWall.jpg');
  // background-size: cover;
  // font-family: 'Special Elite', 'cursive';
  // color: white;
  // font-size: 2rem;
  // padding: .5rem;
  // opacity: .8;
}

.indecisionDiv {
  height: 25rem;
  width: 50%;
  background-image: url('./images/colouredWall.jpg');
  background-size: cover;
  font-family: 'Special Elite', 'cursive';
  color: white;
  font-size: 2rem;
  padding: .5rem;
  opacity: .8;
  overflow: scroll;
}

p {
  margin: 0;
  margin-bottom: 1.2rem;
}

.valid {
  color: white;
  font-size: .5rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  background-color: lightgreen;
  border-radius: 4px;
  max-height: 2.5rem;
  font-family: 'Special Elite', cursive;
  padding: .5rem;
  width: 12rem;
}
 .question {
   background-color: white;
   color: orangered;
   width: 55%;
   padding: .3rem;
   font-size: 1.5rem;
  //  text-align: center;
 }

 .formInput {
   height: 2rem;
   font-size: 2rem;
 }

 .btn {
  font-size: 2rem;
  margin-bottom: 1rem;
  // margin-left: 1.5rem;
  background-color: rgb(94, 198, 233);
  border-radius: 4px;
  max-height: 2.5rem;
  color: white;
  font-family: 'Special Elite', cursive;
  padding: .5rem;
}