@import '~video-react/styles/scss/video-react'; // or import scss


.modal {
  display: flex;
  height: 20rem;
  width: 40rem;
  background-color: pink;

  button {
    height: 2rem;
    width: 3rem;
    justify-content: flex-end;
  }
}