@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');


.header {
  background-image: url('./images/whitePattern.jpg');
  background-size: cover;
  // background-position: center;
  // text-align: center;
  // background-color: lightblue;
  height: 100vh;
  width: 100%;
  // opacity: .8;
  display: flex;
  flex-direction: column;
  // margin-top: 8rem;
  padding: 2rem;

  h1 {
    margin-top: 8rem;
    color: orangered;
    padding: 1rem;
    font-size: 6rem;
    font-family: 'Special Elite', cursive;
    outline: 1px white;
    // text-align: center;
  }
  
  h2 {
    padding: 1rem;
    color:rgb(237, 155, 56);
    color:black;
    margin: 0px;
    padding-top: 0px;
    font-size: 3rem;
    font-family: 'Special Elite', cursive;
    // text-align: center;

  }
  
  .btn {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    background-color: rgb(94, 198, 233);
    border-radius: 4px;
    max-height: 2.5rem;
    color: white;
    font-family: 'Special Elite', cursive;
    padding: .5rem;
  }

  .btn:hover {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    background-color: rgb(255, 166, 0);
    border-radius: 4px;
    max-height: 2.5rem;
    color: white;
    font-family: 'Special Elite', cursive;
    padding: .5rem;
  }
}

.info {
  background-color: aliceblue;
  width:50%;
  height: 50%;
  margin: 1.5rem;
}

.titleBtnImageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleImage {
 height: 40rem;
//  justify-content: right;
 margin-right: 10rem;
}