@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');


.header {
  background-image: url('./images/whitePattern.jpg');
  background-size: cover;
  // background-position: center;
  // text-align: center;
  // background-color: lightblue;
  height: 40rem;
  width: 100%;
  opacity: .8;
  // display: flex;
  
  h1 {
    margin: 0px;
    color: orangered;
    padding: 1rem;
    font-size: 6rem;
    font-family: 'Special Elite', cursive;
  }
  
  h2 {
    padding: 1rem;
    color:rgb(237, 155, 56);
    margin: 0px;
    padding-top: 0px;
    font-size: 3rem;
    font-family: 'Special Elite', cursive;

  }
  
  .btn {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    background-color: bisque;
    border-radius: 4px;
    // height: 100%;
  }
}

.info {
  background-color: aliceblue;
  width:50%;
  height: 50%;
  margin: 1.5rem;
}