/* Put your code here */
// color themes
//https://paletton.com/#uid=13v0u0khca+aQkKbSe9lQ8Qr45Y

html {
  height: 100%;
  margin: 0;
}
body {
  min-height: 100%;
  margin: 0;
  background-color: blue($color: #000000);
  // background-color: #06151E;
}

